body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1464;
    margin: 4rem;
}
#container {
    width: 350px;
    height: auto;
    border: 2px #5de5fd solid;
    padding: 1rem 2rem;
    border-radius: 1rem;

}
h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #5de5fd;
    margin-bottom: 1.4rem;
}

#container li {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    background-color: #5de5fd ;
    padding: .8rem;
    border-radius: .5rem;
    font-size: 1.2rem;

}
.number {
    /* border-right: 1px #1B1464 solid; */
    outline: 2px #1B1464 solid ;
    margin-right: .5rem;
    padding: 2.5px 6.5px;
    color: #1B1464;
}
.dragBox {


}
.dragBox .name {
    font-weight: bold;
    color: #1B1464;
    transform: translateX(50%);
}

.button {
  margin-top: 2rem;
  padding: .7rem 1.5rem;
  background-color: #b71540;
  border: none;
  border-radius: .5rem;
  font-weight: bold;
  font-size: 1rem;
}
.button:hover {
    opacity: .9;
}
